@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;

    --background: 0 0% 95%;
    --foreground: 203 0% 0%;
    --card: 180, 5%, 93%;
    --card-foreground: 203 0% 10%;
    --popover: 203 0% 95%;
    --popover-foreground: 203 95% 0%;
    --primary: 203 100% 38%;
    --primary-foreground: 0 0% 100%;
    --secondary: 203 10% 85%;
    --secondary-foreground: 0 0% 0%;
    --muted: 165 10% 80%;
    --muted-foreground: 203 0% 35%;
    --accent: 165 10% 80%;
    --accent-foreground: 203 0% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 180, 5%, 93%;
    --border: 203 20% 50%;
    --input: 0, 0%, 75%;
    --ring: 203 100% 38%;
    --radius: 0.5rem;
  }

  .dark {
    color-scheme: dark;

    --background: 0 0% 5%;
    --foreground: 180, 5%, 93%;
    --card: 203 0% 0%;
    --card-foreground: 180, 5%, 93%;
    --popover: 203 10% 5%;
    --popover-foreground: 180, 5%, 93%;
    --primary: 203 100% 38%;
    --primary-foreground: 0 0% 100%;
    --secondary: 203 10% 15%;
    --secondary-foreground: 0 0% 100%;
    --muted: 165 10% 15%;
    --muted-foreground: 203 0% 60%;
    --accent: 165 10% 10%;
    --accent-foreground: 180, 5%, 93%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 180, 5%, 93%;
    --border: 203 20% 18%;
    --input: 0, 0%, 20%;
    --ring: 203 100% 38%;
    --radius: 0.5rem;
  }
}

.rdp-dropdown_icon {
  @apply hidden;
}

.rdp-dropdown {
  @apply w-full bg-secondary pl-1 text-left text-foreground;
}

.rdp-nav {
  @apply flex items-center;
}

.rdp-dropdown_month {
  @apply rounded-l-lg text-secondary-foreground hover:bg-secondary;
}

.rdp-dropdown_year {
  @apply rounded-r-lg text-secondary-foreground hover:bg-secondary;
}
